html {
	height: 100%;

	body {
		display: flex;
		height: 100%;
		font-family: Arial, sans-serif;
		background-color: #f4f4f4;
		text-align: center;
		margin: 0px;
		font-size: 16px;

		.cs-app {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
	}
}
