################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/node_modules
package-lock.json
/.vs
/.vs/attackregistration/v17/.wsuo
/.vs/attackregistration/v17/.wsuo
