.cs-app {
	position: relative;
}

.cs-modal {
	display: flex;
	position: absolute;
	flex-direction: column;
	margin-inline: auto;
	padding: 16px;

	justify-self: center;
	align-self: center;

	border-radius: 4px;
	background-color: var(--cs-color-white);

	min-width: 400px;

	z-index: 20;

	.cs-modal-buttons {
		display: flex;
		justify-content: flex-end;
		margin-top: 16px;

		.cs-btn {
			margin-left: 8px;
		}
	}
}
