.cs-modal-content {
	display: flex;
	flex-direction: column;
	width: 100%;

	.cs-modal-item {
		display: flex;
		align-items: center;
		margin: 8px 0px;
		height: 38px;

		.cs-modal-label {
			display: flex;
			align-items: center;
			height: 100%;
			color: var(--cs-color-primary);
		}

		.cs-modal-input {
			display: flex;
			height: 100%;
			flex: 1;
			flex-direction: row;
			align-items: center;
			justify-content: flex-end;

			label,
			input,
			select {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 100%;
			}

			label {
				cursor: pointer;
				margin-right: 8px;
			}

			select {
				cursor: pointer;
				height: 100%;
				width: 150px;
				padding-inline: 4px;
				padding-block: 4px;
			}

			input[type="radio"] {
				display: flex;
				justify-content: center;
				align-items: center;
				cursor: pointer;
				margin: 0px 8px;
			}

			input[type="number"] {
				width: 38px;
			}

			textarea {
				font-family: Arial, sans-serif;
				resize: none;
				padding: 0px;
				width: 75%;
				padding-inline: 4px;
				padding-block: 4px;

				max-width: 150px;
			}
		}
	}
}
