@use "../../utilities/elevation.scss" as *;
@use "./variables.scss" as *;

.cs-cell-content-container {
	display: flex;
	flex-direction: column;
	padding: 4px;
	max-height: $cell-size-h;
	background: var(--cs-color-white);

	transition: height 125ms ease;

	.cs-attack-item {
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 1;
		margin: 2px 0;
		min-height: 24px;
		border-radius: 4px;
		@include material-elevation(1);

		cursor: pointer;

		&.cs-single-attack {
			background-color: var(--cs-color-success-light);

			&:hover {
				background-color: var(--cs-color-success);
			}
		}

		&.cs-cluster-attack {
			background-color: var(--cs-color-info-light);

			&:hover {
				background-color: var(--cs-color-info);
			}
		}

		&.cs-show-more-attacks {
			background-color: var(--cs-color-minor);

			&:hover {
				background-color: var(--cs-color-minor-dark);
			}
		}

		&.cs-hidden-attack {
			display: none;
		}
	}

	&.cs-show-all-attacks {
		position: absolute;
		width: $cell-size-w;
		height: auto;
		background-color: var(--cs-color-white);
		padding: 16px;
		max-height: unset;

		transition: 125ms ease;

		@include material-elevation(3);

		.cs-attack-item {
			min-height: 48px;

			&.cs-show-more-attacks {
				order: 2;
				min-height: 24px;

				.cs-show-more-text {
					display: none;
				}
			}

			&.cs-hidden-attack {
				display: flex;
			}
		}
	}
}
