@use "./variables" as *;

.cs-pager-container {
	display: flex;
	justify-content: flex-end;
	margin-top: 32px;

	.cs-pager {
		display: flex;
		height: 42px;
		width: $cell-size-w;
		justify-content: center;
		align-items: center;

		border-radius: 4px;
		border: 1px solid var(--cs-color-primary);

		&:hover {
			cursor: pointer;
			background-color: var(--cs-color-primary-lighter);
		}

		&.cs-pager-prev-month {
			margin-right: 16px;

			.cs-pager-text {
				margin-right: 18px;
			}
		}

		&.cs-pager-next-month .cs-pager-text {
			margin-left: 18px;
		}

		.cs-pager-icon {
			display: flex;
			flex: 1;
			justify-content: center;
			align-items: center;
			font-size: 18px;
			width: 18px;
		}

		.cs-pager-text {
			display: flex;
			flex: 4;
			justify-content: center;
			align-items: center;
		}
	}
}
