@use "../../utilities/mixins.scss" as *;
@use "../../utilities/elevation.scss" as *;

.cs-calendar-table {
	.cs-cell-top-row {
		display: flex;
		flex: 1;
		width: 100%;

		span {
			display: flex;

			align-items: center;

			&.cs-cell-day-number {
				font-size: 18px;
				flex: 1;
				padding: 0px 8px;
			}

			&.cs-cell-add-button {
				justify-content: flex-end;

				justify-content: center;
				align-items: center;
				height: 24px;
				width: 24px;
				margin: 8px;
				font-size: 21px;
				font-weight: 500;

				color: var(--cs-color-semi-black);
				border: 1px solid var(--cs-color-primary);
				border-radius: 50%;

				@include material-elevation(3);

				&:hover {
					cursor: pointer;
					background-color: var(--cs-color-primary-lighter);
				}
			}
		}

		.cs-cell-content-container {
			display: flex;
			flex: 3;
			height: 100px;
			border: 1px solid crimson;
		}
	}
}
