@mixin test-border {
	border: 1px solid var(--cs-color-succes);
}

$cell-size-h: 120px;
$cell-size-w: 150px;

.cs-calendar {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	@include test-border();

	.cs-calendar-table {
		border-collapse: collapse;
		background-color: var(--cs-color-white);


		.cs-table-caption {
			font-size: 24px;
			margin: 24px 0px;
		}

		thead {
			height: 48px;

			tr {
				.cs-table-header-cell {
					font-weight: 500;
					padding: 8px 16px;
					border: 1px solid var(--cs-color-lightgrey);
					color: var(--cs-color-primary);
				}
			}
		}

		.cs-calendar-body {
			border: 1px solid var(--cs-color-lightgrey);

			tr {
				td {
					height: $cell-size-h;
					width: $cell-size-w;

					&:not(.cs-table-content-cell) {
						background-color: var(--cs-color-semi-white);
					}

					&.cs-table-content-cell {
						border: 1px solid var(--cs-color-lightgrey);

						.cs-cell-container {
							display: flex;
							flex-direction: column;
							height: 100%;

							.cs-cell-top-row {
								display: flex;
								flex: 1;
								width: 100%;

								span {
									display: flex;

									align-items: center;

									&.cs-cell-day-number {
										font-size: 18px;
										flex: 1;
										padding: 0px 8px;
									}

									&.cs-cell-add-button {
										justify-content: flex-end;

										
										justify-content: center;
										align-items: center;
										height: 32px;
										width: 32px;
										margin: 8px;
										color: var(--cs-color-white);
										background-color: var(--cs-color-primary);
										border-radius: 50%;
									}
								}
							}

							.cs-cell-content-container {
								display: flex;
								flex: 3;
							}
						}
					}
				}
			}
		}
	}
}
